#menuTopo {
    ul {
        font-family:$font-menu;
          text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;

         li{
            display: inline-block;
         
           

             a{

                 
                background: $laranjaMenu;
                padding: 5px 30px;
                display: inline-block;
                color:black;
                border-radius: 10px;
              
                &:hover {

                   background: darken($laranjaMenu, 10%);
                   text-decoration: none;
                }

            }

        }

    }
}



